<tr>
  <td class="align-middle"><%= t("admin.badges.form.#{badge.title}") %></td>
  <td class="align-middle"><%= t("admin.badges.form.#{badge.option}") %></td>
  <td class="align-middle" style="width:100px; height:auto"><%= image_tag(badge.image, style:'width:70%') %></td>
</tr>