<h2>The <%= @test_passage.test.title %> test was Complited!</h2>

<p>You finished it with <%= @test_passage.score %> correct questions!</p>
<p><%= result_message(@test_passage.percentage_score) %></p>

<%= link_to 'Back to tests', tests_path, :class => "btn btn-warning" %>