<h2><%= t('.header', title: @test_passage.test.title) %></h2>

<p>You finished it with <%= @test_passage.correct_questions %> correct questions!</p>
<p><%= result_message(@test_passage.percentage_score) %></p>

<%= link_to 'Back to tests', tests_path, :class => "btn btn-warning" %>