<footer class="blog-footer">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; <%= current_date %> Ivan_Tsyganov </small>
      </div>
      <div class="col-9 col-md">
        <h6><a href="<%= github_url('xenogear-vexcon', TestGuru) %>" target="_blank">Проект TestGuru на Гитхаб</a>
          <p>TestGuru - это портал, где вы можете испытать свои познания в сфере IT в формате тестов.</p></h6>
      </div>
      <div class="col-6 col-md">
        <h6><a href="https://thinknetica.com" target="_blank">Школа Thinknetica</a></h6>
      </div>
    </div>
  </footer>