<footer class="blog-footer">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; <%= current_date %> Ivan_Tsyganov </small>
      </div>

      <div class="col-9 col-md">
        <h6><a href="<%= github_url('xenogear-vexcon', TestGuru) %>" target="_blank">TestGuru project on Github</a>
        <p>TestGuru - a portal where you can test your IT knowledge in a test format.</p></h6>
      </div>
      <div class="col-6 col-md">
        <h6><a href="https://thinknetica.com" target="_blank">Thinknetica school</a></h6>
      </div>
    </div>
</footer>