<li>
  <b><%= answer.body %></b>
  <i><%= link_to 'Show', answer_path(answer) %>
  <%= link_to 'Edit', edit_answer_path(answer) %>
  <%= link_to 'Delete', answer_path(answer), method: :delete, data: {confirm: 'Want to delete a question?'} %></i>
</li>