
<li>
  <b><%= answer.body %></b>
  <i><%= link_to t('.show'), admin_answer_path(answer), class: "btn btn-sm btn-outline-secondary" %>
  <%= link_to t('.edit'), edit_admin_answer_path(answer), class: "btn btn-sm btn-outline-secondary" %>
  <%= link_to t('.delete'), admin_answer_path(answer), method: :delete, data: {confirm: 'Want to delete a question?'}, class: "btn btn-sm btn-outline-danger" %></i>
</li>
<br>