@import "bootstrap";
@import "typography/icons";
@import "typography/status_bar";
@import "global";
@import "contacts";
@import "nav";
@import "scaffolds";
@import "test_passages";

require octicons

html,
body,
.container {
  height: 100%;
}

.footer {
  height: 100px;
  margin-top: -100px;
}