@import "bootstrap";
@import "typography/icons";
@import "typography/status_bar";
@import "global";
@import "contacts";
@import "scaffolds";
@import "test_passages";
@import "flash";

html,
body,
.container {
  height: 100%;
}

.header, footer {
	max-width: 1086px;
}

footer {
  height: 80px;
  margin: -100px auto 0;
}